*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.asosiy{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 400px;
    height: 220px;
    margin-top: -50px;
}
.input{
    width: 400px;
    height: 100vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inp{
    width: 230px;
    padding: 10px 10px;
    border-radius: 8px;
    border: 2px solid    #876CBC;
    margin: 15px;
}

.inp :hover{
    background-color: #876CBC;
}
.button{
    text-decoration: none;
    width: 230px;
    height: auto;
    color:#8774e1;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 5px;
    border: none;
    background-color: white;        
}
.button:hover{
    background-color: #dfdfe6;
}
.butt{
    text-decoration: none;
    width: 230px;
    height: auto;
    color: white;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    padding: 5px 5px;
    border: none;
    background-color: #7B71C6;
}